/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,800|Varela+Round);

/* Body */
body{
  background-color:#ededed;
  padding:0px;
  margin:0px;
  font-family: 'raleway', sans-serif;
  font-weight: 300;
  color:#444;
}

/* Links */

a{
  color:#9bf;
  text-decoration:none;
}

a:hover{
  color:#ddd;
  transition:color 1s;
}

/* Layout */

header{
  width:100%;
  background-color:#111;
  height:30px;
  position:fixed;
  top:0px;
  font-family: 'Varela Round', sans-serif;
  font-weight:400;
}

header .content img{
  float:left;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-bottom:#ddd solid 2px;
  border-left:#ddd solid 2px;
  border-right:#ddd solid 2px;
  margin-right:5px;
}

header .content .brand{
  float:left;
  font-size:1.5em;
  color:#fff;
}

nav{
  height:120px;
  background-color:#9bf;
}

nav ul{
  box-sizing:border-box;
  width:950px;
  margin:auto;
  list-style:none;
}

nav ul li{
  margin-top:40px;
  float:left;
  margin-left:10px;
  padding:1em;
}

nav ul li:first-of-type{
  margin-left:130px;
}

nav ul li a{
  text-decoration:none;
  font-weight:800;
  color:#04c;
  font-size:1.5em;
}

.content{
  width:950px;
  margin:auto;
}

.main{
  background-color:#fff;
  border-radius:5px;
  border:1px solid #ddd;
  margin-top:50px;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:25px;
  overflow:auto;
}

footer{
  font-size:0.7em;
}

footer section{
  box-sizing:border-box;
  width:25%;
  float:left;
  text-align:center;
  padding:1em;
}

footer section ul{
  padding:0px;
  margin:0px;
  list-style:none;
  padding-top:10px;
}

/* Paragraph Styles */
p code{
  background-color:#ddd;
  border:1px solid #eee;
  padding:1px 3px;
}

/* Page Specific Styles */
.home-box{
  width:330px;
  float:right;
}

.home-box .post{
  background-color:#ededed;
  box-sizing:border-box;
  margin-bottom:10px;
  border-radius:5px;
}

.home-box .post h2{
  margin-top:0px;
  background-color:#ADC9FF;
  padding:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  position:relative;
  text-align:center;
}

.home-box .post h2:after {
	top: 100%;
	left: 80%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(153, 187, 255, 0);
	border-top-color: #adc9ff;
	border-width: 20px;
	margin-left: -20px;
}

.home-box .post h2 a{
  color:#fff;
  text-decoration:none;
}

.home-box .post p{
  margin:5px;
}

.meta{
  float:right;
  margin-top:-10px;
  margin-right:-10px;
  background-color:#9bf;
  padding:5px 10px;
  border-bottom-left-radius:5px;
}

.highlight code{
  width:930px;
  display:block;
  overflow-x:scroll;
}
