---
layout: twentysixteen
title: Code
---

<h1>{{ page.title }}</h1>
<p>Whilst most of my code is <i>closed source</i> and not avliable to the public all of the libraries I have written are.</p>
<p>My <a href="https://github.com/Arcath">Github</a> has a pretty complete record of my public work since 2009</p>
{% for project in site.projects %}
  <div class="project">
    <b>{{ project.title }}</b>
    {% if project.github %}
      <a href="{{ project.github }}">Source</a>
    {% endif %}
    {% if project.npm %}
      <a href="{{ project.npm }}">NPM Package</a>
    {% endif %}
    {% if project.atom %}
      <a href="{{ project.atom }}">Atom Package</a>
    {% endif %}
    <hr>
    {{ project.content }}
  </div>
{% endfor %}
