<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/layout.css">
  </head>
  <body>
    <header>
      <div class="content">
        <div class="brand">{{ site.name }}</div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive.html">All Posts</a></li>
            <li><a href="/categories.html">Categories</a></li>
            <li><a href="/cv.html">CV</a></li>
            <li><a href="/atom">Atom</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="main content">
      {{ content }}
    </div>

    <footer class="content">
      <section>
        <p>Theme hand crafted by me, any similatrity to other sites is purely a result of a lack of creativity on my part. (I did write all the CSS myself)</p>
      </section>
      <section>
        <p>The posts on this site are my opinion, they do not refelect the views or opinions of the anyone I work for/with.</p>
      </section>
      <section>
        <ul>
          <li>Twitter: <a href="https://twitter.com/ArcathWhitefall">@ArcathWhitefall</a></li>
          <li>Google+: <a href="https://plus.google.com/113061405459106592140?rel=author">+Arcath</a></li>
          <li>GitHub: <a href="https://github.com/Arcath">Arcath</a></li>
        </ul>
      </section>
      <section>
        <p>Hosted by GutHub Pages</p>
        <p><a href="https://github.com/Arcath/arcath.github.io">Source</a></p>
      </section>
    </footer>
  </body>
</html>
